@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h3>Controls</h3>
            <p class="lead text-muted"> Controls for editing, deleting, creating To-does</p>
            <div class="container">
                <div class="col">
            <p class=" btn btn-primary  ">New</p>
            <p class=" btn btn-primary  ">Delete</p>
            <p class="btn btn-dark  ">Edit</p>
            <p class=" btn btn-dark  ">Complete</p>
                </div>
            </div>
        </div>
    </div>
</section>


<div class="container">
    <div class="mb-3 text-center">
        <div class="card mb-4 shadow" style="width:18rem; box-shadow:black, 10px">
            <div class="card-body">
                <h5 class="border-bottom card-title text-center"> Yaaa</h5>
                <p>SOMETEXT THAT IS HERE</p>
                
                
            </div>
        </div>
    </div>
</div>
