@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container bg-info">
    <h1>To Do:</h1>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div>
                    <div>
                        <label style="padding-left:100px" for="TD1">Something</label>
                        <input style="margin-left:200px" type="checkbox" id="TD1" value="TD1" />
                    </div>
                    <div>
                        <label style="padding-left:100px" for="TD2">Something</label>
                        <input style="margin-left:200px" type="checkbox" id="TD2" value="TD2" />
                    </div>
                    <div>
                        <label style="padding-left:100px" for="TD3">Something</label>
                        <input style="margin-left:200px" type="checkbox" id="TD3" value="TD3" />
                    </div>
                    <div>
                        <label style="padding-left:100px" for="CB4">Something</label>
                        <input style="margin-left:200px" type="checkbox" id="TD4" value="TD4" />
                    </div>
                    <div>
                        <label style="padding-left:100px" for="TD5">Something</label>
                        <input style="margin-left:200px" type="checkbox" id="TD5" value="TD5" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <h2>Completed:</h2>
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div>
                    <div>
                        <label style="padding-left:100px" for="CB1">Something</label>
                        <input style="margin-left:200px" type="checkbox" id="CB1" value="CB1" />
                    </div>
                    <div>
                        <label style="padding-left:100px" for="CB2">Something</label>
                        <input style="margin-left:200px" type="checkbox" id="CB2" value="CB2" />
                    </div>
                    <div>
                        <label style="padding-left:100px" for="CB3">Something</label>
                        <input style="margin-left:200px" type="checkbox" id="CB3" value="CB3" />
                    </div>
                    <div>
                        <label style="padding-left:100px" for="CB4">Something</label>
                        <input style="margin-left:200px" type="checkbox" id="CB4" value="CB4" />
                    </div>
                    <div>
                        <label style="padding-left:100px" for="CB5">Something</label>
                        <input style="margin-left:200px" type="checkbox" id="CB5" value="CB5" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <br />
    </div>
</div>
